.wrapper{
    text-align: center;
    padding-top: 50px;
}
table{
    border: solid 1px #dddddd;
}
th{
    width: 80px;
    height: 50px;
   background-color: cadetblue;
}
td{
    width: 80px;
    height: 50px;
    background-color: aquamarine;
}