*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f7f8;
}
.b{
    border: solid 1px red;
}
.bg{
    background-color: red;
}
.positionr{
    position: relative;
}
.positiona{
    position: absolute;
}
input:-moz-placeholder{
    color: #666;
    font-size: 17px;
}
input::-moz-placeholder{
    color: #666;
    font-size: 17px;
}
input:-ms-input-placeholder{
    color: #666;
    font-size: 17px;
}
input::-webkit-input-placeholder{
    color: #666;
    font-size: 17px;
}
header,section{
    min-width: 1200px;
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.al{
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}
.alc{
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
}
.ac{
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
.ar{
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}
.flex-wrap{
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.col1{
    flex: 1;
    -webkit-flex: 1;
}
.w{
    width: 100%;
}
.w25{
    width: 25px;
}
.w120{
    width: 120px;
}
.w130{
    width: 130px;
}
.w147{
    width: 147px;
}
.w150{
    width: 150px;
}
.w300{
    width: 300px;
}
.w500{
    width: 500px;
}
.h{
    height: 100%;
}
.h25{
    height: 25px;
}
.h30{
    height: 30px;
}
.h48{
    height: 48px;
}
.h50{
    height: 50px;
}
.fs12{
    font-size: 12px;
}
.fs14{
    font-size: 14px;
}
.fs16{
    font-size: 16px;
}
.fs18{
    font-size: 18px;
}
.fs20{
    font-size: 20px;
}
.fs22{
    font-size: 22px;
}
.fs24{
    font-size: 24px;
}
.ml5{
    margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left: 20px;
}
.ml30{
    margin-left: 30px;
}
.mr5{
    margin-right: 5px;
}
.mr10{
    margin-right: 10px;
}
.mr15{
    margin-right: 15px;
}
.mr20{
    margin-right: 20px;
}
.mr30{
    margin-right: 30px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px !important;
}
.mt50{
    margin-top: 50px;
}
.bl999{
    border-left: solid 1px #999;
}
.wbra50{
    border-radius: 50%;
}
.fc999{
    color: #999;
}
.brebeb{
    border: solid 1px #ebebeb;
}
.brddd{
    border: solid 1px #ddd;
}
.br999{
    border: solid 1px #999;
}
.fc666{
    color: #666;
}
.fc333{
    color: #333;
}
.bg999{
    background-color: #999;
}
.bgf7f7f7{
    background-color: #f7f7f7;
}
.bge3e2e2{
    background-color: #e3e2e2;
}
.cursor{
    cursor: pointer;
}
ul.anniu>li{
    list-style: none;
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gold;
    margin-left: 5px;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
}
.ovflo{
    overflow: hidden;
}
.text-title{
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-top: -5px;
    border: solid 1px #999;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
}
.item-list{
    display: none;
    position: absolute;
    width: 50px;
    left: -1px;
    top:50px;
    border: solid 1px #999;
    border-top: none;
    background-color: #fff;
    z-index: 1;
}
.item-list li{
    list-style: none;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #999;
    cursor: pointer;
}
.item-list li:hover{
    background-color: #ebebeb;
}
ul.banner{
    width: 1200px;
    height: 40px;
    border: solid 1px #ebebeb;
    border-top: solid 2px #0aa770;
    margin: auto;
}
ul.banner li{
    position: relative;
    list-style: none;
    float: left;
    width: 109px;
    height: 40px;
}
ul.banner li:not(:last-child):after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 20px;
    top: 10px;
    background-color: #eaeaea;
}
ul.banner li a{
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}
.side a,.right a{
    text-decoration: none;
    font-size: 14px;
    color: #222;
}
.side span{
    color: #999;
    font-size: 16px;
    line-height: 30px;
    margin: 0 5px;
}
.side i{
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.ia{
    background-image: url(https://gss2.bdstatic.com/5eR1dDebRNRTm2_p8IuM_a/her/static/indexher/pkg/aio_z.c0dd21d.png);
}
.ib{
    background-image:url(https://gss2.bdstatic.com/5eR1dDebRNRTm2_p8IuM_a/her/static/indexher/pkg/aio_z.c0dd21d.png);
}
.i1{
    background-position: -211px -519px;
}
.i2{
    background-position: -463px -472px;
}
.i3{
    background-position: -141px -518px;
}
.i4{
    background-position: -451px -518px;
}
.i5{
    background-position: -421px -381px;
}
.i6{
    background-position: -247px -471px;
}
.i7{
    background-position: 0px -552px;
}
.i8{
    background-position: -214px -120px;
}
.right span:after{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #333;
    border-radius: 50%;
}
.right i{
    display: inline-block;
    width: 16px;
    height: 16px;
}
.right i,.right img{
    margin-left: 30px;
    margin-right: 5px;
}
.iq{
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/res/img/defaultIcon1229.png) 2px -278px no-repeat;
}
.iw{
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/res/img/defaultIcon1229.png) 2px -318px no-repeat;
}
.ie{
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/res/img/defaultIcon1229.png) 2px -38px no-repeat;
}
.ir{
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/res/img/defaultIcon1229.png) 2px -157px no-repeat;
}
.it{
    background-image: url(https://gss0.bdstatic.com/5bVYsj_p_tVS5dKfpU_Y_D3/urlicon/106051.png);
}
.iy{
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/res/img/defaultIcon1229.png) 2px -238px no-repeat;
}
.iu{
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/res/img/defaultIcon1229.png) 2px -358px no-repeat;
}
.io{
    background-image: url(https://gss1.bdstatic.com/5bVXsj_p_tVS5dKfpU_Y_D3/urlicon/game0331.png);
}
.ip{
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/res/img/defaultIcon1229.png) 2px 2px no-repeat;
}
.is{
    background-image: url(https://gss0.bdstatic.com/5bVYsj_p_tVS5dKfpU_Y_D3/urlicon/1419388771.png);
}
.id{
    background-image: url(https://gss0.bdstatic.com/5bVYsj_p_tVS5dKfpU_Y_D3/urlicon/21.1.png);
}
.if{
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/res/img/defaultIcon1229.png) 2px -238px no-repeat;
}
.ig{
    background-image: url(https://gss1.bdstatic.com/5bVXsj_p_tVS5dKfpU_Y_D3/urlicon/6282.png);
}
.ih{
    background-image: url(https://gss0.bdstatic.com/5bVYsj_p_tVS5dKfpU_Y_D3/urlicon/51619.png);
}
.ij{
    background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/res/img/defaultIcon1229.png) 2px -518px no-repeat;
}
.ik{
    background-image: url(https://gss1.bdstatic.com/5bVXsj_p_tVS5dKfpU_Y_D3/urlicon/8.411.png);
}
.btitem a{
    margin-left: 30px;
}